<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Password Generator</title>
    </head>
    
    <script src="/app.js"></script>
    <script src="/functions.js"></script>

<body onload=LengthDL(),GetData()>

    <div class="container">
        <h1>Please enter details</h1>
        <br/>
        <form method="post" action="/">
            <label for="length">Password Length:</label>
            <select class="form-control" id="length" name="length">
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
            </select>
            <br />
            <div class="checkbox">
                <label><input type="checkbox" name="symbols" id="symbols" value="true">Include Symbols ( e.g. @#$% )</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="numbers" id="numbers" value="true">Include Numbers ( e.g. 123456 )</label>
            </div>  
            <div class="checkbox">
                <label><input type="checkbox" name="lowerCase" id="lowerCase" value="true">Include Lower Case ( e.g. abcdefgh )</label>
            </div> 
            <div class="checkbox">
                <label><input type="checkbox" name="upperCase" id="upperCase" value="true">Include Upper Case ( e.g. ABCDEFGH )</label>
            </div>   
            <div class="checkbox">
                <label><input type="checkbox" name="similar" id="similar" value="true">Include Similar Characters</label>
            </div>  
            <div class="checkbox">
                <label><input type="checkbox" name="ambiguous" id="abiguous">Include Ambiguous Characters</label>
            </div>
            <br />
            <input type="submit" class="btn btn-default">
            <br />
            <br />
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="txtPassword" name="txtPassword">
            <br />
            <label for="remember">Remember:</label>
            <input type="text" class="form-control" id="remember" name="remember">
        </form>
    </div>
</body>
</html>